extends layout

block content
	div.container
		div.row
			div.medium-6.medium-offset-1.columns
				div.chat-window
					h3 #{roomName} 
						small(style='font-size:14px') [#{roomId}]
					ul#messages(style='height: 300px; overflow: scroll;')
						each message in messages
							li(style='list-style:none') #{message.userId}: #{message.message} 
				div.chat-input
					form#message
						input.validate(id='message', type='text', name='message')
						input.button(type='submit', value='Send')

			div.medium-3.columns(style='min-height:300px; border: 1px solid black;')
				div.user-search
					form#user-search
						label Search Users
							input.validate(type='text', name='query')
						input.button(type='submit', value='Search')
				div.users-list 

	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	script(src='/socket.io/socket.io.js')
	script.
		(function(){
			$(document).ready(function(){
				$('#messages').scrollTop($('#messages')[0].scrollHeight);
				//Search
				$('#user-search').submit(function(e) {
					e.preventDefault();
					var query = e.target.query.value
					$.ajax({
						type: 'POST',
						url: '/search/users',
						data: {
							query: query
						},
						dataType: 'text	',
						success: function (msg) {
							console.log(msg)
						}
					})
				});

				//Chat
				var socket = io.connect('#{socketUrl}'+ ':3000');
				var roomId = '#{roomId}'
				var userId = '#{currentUser}'

				//socket channel name is roomId
				socket.emit('join', roomId)

				$('#message').submit(function(e){
					e.preventDefault();
					var payload = {
						message: e.target.message.value,
						userId: userId,
						sentAt: new Date(),
						roomId: roomId
					}
					socket.emit('message', payload, function() {
						addMessage(payload);
					});
					e.target.message.value = '';
				});

				socket.on('broadcast', function(payload) {
					addMessage(payload);
				});

				socket.on('error', function(err) {
					addMessage('Error: ' + err);
				});

				function addMessage(payload) {
					$('<li>' + payload.userId + ': ' + payload.message + '</li>').appendTo('#messages')
					$('#messages').scrollTop($('#messages')[0].scrollHeight);
				}
			});
		})($);